# Financial statement analysis

Financial statement analysis evaluates a company's performance or value through a company's balance sheet, income statement, or statement of cash flows.

Types of Financial Statements:

1. Balance sheet: This includes asset turnover, quick ratio, receivables turnover, days to sales, debt to assets, and debt to equity.

2. Income statement: This includes gross profit margin, operating profit margin, net profit margin, tax ratio efficiency, and interest coverage.

3. Cash flow: This includes cash and earnings before interest, taxes, depreciation, and amortization (EBITDA). These metrics may be shown on a per-share basis.

For this project I have used this link "https://stockanalysis.com/stocks/wmt/financials/" of Stocks Analysis Website fore Walmart.

### Importing Directories

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import xlsxwriter  # For writing files in the Excel 2007+ XLSX file format.

### Getting Financial Statments in Excel file

In [2]:
# Set up the request headers to simulate a request by the Chrome browser. 
# Simulating a request from a browser is generally good practice when building a scraper.

Headers = {
    'user-agent': # Write your user - agent,
    'Accept-Language': 'en-US,en;q=0.5'
}

In [3]:
# Creating input a stock symbol

company_symbol = 'wmt'

In [4]:
# Creating a Dictionary containing all the links which we need to extract for our FSs

urls = {}
urls['income annually'] = f"https://stockanalysis.com/stocks/{company_symbol}/financials/"
urls['income quarterly'] = f"https://stockanalysis.com/stocks/{company_symbol}/financials/?period=quarterly"
urls['balance sheet annually'] = f"https://stockanalysis.com/stocks/{company_symbol}/financials/balance-sheet/"
urls['balance sheet quarterly'] = f"https://stockanalysis.com/stocks/{company_symbol}/financials/balance-sheet/?period=quarterly"
urls['cash flow annually'] = f"https://stockanalysis.com/stocks/{company_symbol}/financials/cash-flow-statement/"
urls['cash flow quarterly'] = f"https://stockanalysis.com/stocks/{company_symbol}/financials/cash-flow-statement/?period=quarterly"
urls['ratio annually'] = f"https://stockanalysis.com/stocks/aapl/financials/ratios/"
urls['ratio quarterly'] = f"https://stockanalysis.com/stocks/aapl/financials/ratios/?period=quarterly"

# Creating an Excel file to save all the Financial Statement Files

xlwriter = pd.ExcelWriter(f'Financial Statements ({company_symbol}).xlsx', engine='xlsxwriter')

In [5]:
# Fetch the page to parse, using the request headers defined above

for key in urls.keys():
    response = requests.get(urls[key], headers = Headers)
    soup = BeautifulSoup(response.content, 'html.parser')
    df = pd.read_html(str(soup), attrs={'data-test': 'financials'})[0]
    df.to_excel(xlwriter, sheet_name=key, index=False)

xlwriter.save() # To save the Excel file that has been created and written with the xlwriter object.

## Financial Statement Analysis

### Balance Sheet Analysis

In [36]:
# Reading Balance Sheet file

balance_sheet_df = pd.read_excel(r'Financial Statements (wmt).xlsx', sheet_name='balance sheet annually')
balance_sheet_df = balance_sheet_df.drop(columns = ['2017' , '2016','2015', '2014',  '2013', '2012 - 1993'])
balance_sheet_df

                           Year     2022     2021     2020    2019    2018
0            Cash & Equivalents     8625    14760    17741    9465    7722
1       Cash & Cash Equivalents     8625    14760    17741    9465    7722
2                   Cash Growth  -41.57%  -16.80%   87.44%  22.57%  14.30%
3                   Receivables     7933     8280     6516    6284    6283
4                     Inventory    56576    56511    44949   44435   44269
5          Other Current Assets     2521     1519    20861    1622    3623
6          Total Current Assets    75655    81070    90067   61806   61897
7   Property, Plant & Equipment   119234   112624   109848  127049  111395
8      Goodwill and Intangibles    28174    29014    28983   31073   31181
9        Other Long-Term Assets    20134    22152    23598   16567   14822
10       Total Long-Term Assets   167542   163790   162429  174689  157398
11                 Total Assets   243197   244860   252496  236495  219295
12             Accounts Payable    53742    55261    49141   46973   47060
13                 Current Debt     6603     5207     5296    8241    7830
14    Other Current Liabilities    31853    26911    38208   22576   22587
15    Total Current Liabilities    92198    87379    92645   77790   77477
16               Long-Term Debt    52320    52116    57950   64192   50203
17  Other Long-Term Liabilities    14925    13474    14370   12961   11981
18  Total Long-Term Liabilities    67245    65590    72320   77153   62184
19            Total Liabilities   159443   152969   164965  154943  139661
20                   Total Debt    58923    57323    63246   72433   58033
21                  Debt Growth    2.79%   -9.37%  -12.68%  24.81%  24.84%
22                 Common Stock     5238     5115     3928    3531    3253
23            Retained Earnings    83135    86904    88763   83943   80785
24         Comprehensive Income   -11680    -8766   -11766  -12805  -11542
25         Shareholders' Equity    76693    83253    80925   74669   72496
26              Net Cash / Debt   -50298   -42563   -45505  -62968  -50311
27           Net Cash Per Share   -18.40   -15.17   -15.98  -21.96  -17.08
28              Working Capital   -16543    -6309    -2578  -15984  -15580
29         Book Value Per Share    28.16    29.82    28.59   26.20   24.75

In [39]:
# Transpose the DataFrame

bs_transposed_df = balance_sheet_df.transpose()

# Set the first row as the column names

bs_transposed_df.columns = bs_transposed_df.iloc[0]

# Reset the index if needed

bs_transposed_df = bs_transposed_df.iloc[1:].reset_index()
bs_transposed_df = bs_transposed_df.rename(columns={'index': 'Financial Year', 'Year': 'index'})
bs_transposed_df

Year,Financial Year,Cash & Equivalents,Cash & Cash Equivalents,Cash Growth,Receivables,Inventory,Other Current Assets,Total Current Assets,"Property, Plant & Equipment",Goodwill and Intangibles,...,Total Debt,Debt Growth,Common Stock,Retained Earnings,Comprehensive Income,Shareholders' Equity,Net Cash / Debt,Net Cash Per Share,Working Capital,Book Value Per Share
0,2022,8625,8625,-41.57%,7933,56576,2521,75655,119234,28174,...,58923,2.79%,5238,83135,-11680,76693,-50298,-18.40,-16543,28.16
1,2021,14760,14760,-16.80%,8280,56511,1519,81070,112624,29014,...,57323,-9.37%,5115,86904,-8766,83253,-42563,-15.17,-6309,29.82
2,2020,17741,17741,87.44%,6516,44949,20861,90067,109848,28983,...,63246,-12.68%,3928,88763,-11766,80925,-45505,-15.98,-2578,28.59
3,2019,9465,9465,22.57%,6284,44435,1622,61806,127049,31073,...,72433,24.81%,3531,83943,-12805,74669,-62968,-21.96,-15984,26.20
4,2018,7722,7722,14.30%,6283,44269,3623,61897,111395,31181,...,58033,24.84%,3253,80785,-11542,72496,-50311,-17.08,-15580,24.75

In [40]:
bs_analysis = pd.DataFrame(bs_transposed_df['Financial Year']) # copy columns of dataframe
bs_analysis

  Financial Year
0           2022
1           2021
2           2020
3           2019
4           2018

#### Working Capital = Current Assets - Current Liabilities

In [41]:
current_assets = bs_transposed_df['Total Current Assets'].str.replace(',', '').astype(int)
current_liabilities = bs_transposed_df['Total Current Liabilities'].str.replace(',', '').astype(int)
working_capital = current_assets - current_liabilities

bs_analysis['Working Capital'] = working_capital # copy columns of dataframe
bs_analysis

  Financial Year  Working Capital
0           2022           -16543
1           2021            -6309
2           2020            -2578
3           2019           -15984
4           2018           -15580

#### Working Capital Per Dollar of Sales = Working Capital ÷ Total Sales
Total Sales is from Income Statement

In [42]:
total_sales = is_transposed_df['Revenue'].str.replace(',', '').astype(int)
working_capital_per_dollar_of_sales = working_capital / total_sales

bs_analysis['Working Capital per Dollar of Sales'] = working_capital
bs_analysis

  Financial Year  Working Capital  Working Capital per Dollar of Sales
0           2022           -16543                               -16543
1           2021            -6309                                -6309
2           2020            -2578                                -2578
3           2019           -15984                               -15984
4           2018           -15580                               -15580

#### Current Ratio = Current Assets ÷ Current Liabilities

In [43]:
current_ratio = current_assets / current_liabilities

bs_analysis['Current Ratio'] = current_ratio
bs_analysis

,Financial Year,Working Capital,Working Capital per Dollar of Sales,Current Ratio
0,2022,-16543,-16543,0.820571
1,2021,-6309,-6309,0.927797
2,2020,-2578,-2578,0.972173
3,2019,-15984,-15984,0.794524
4,2018,-15580,-15580,0.798908

#### Quick / Acid Test / Current Ratio = Current Assets minus inventory (called "Quick Assets) ÷ Current Liabilities

In [44]:
inventory = bs_transposed_df['Inventory'].str.replace(',', '').astype(int)
quick_current_ratio = (current_assets - inventory) / current_liabilities

bs_analysis['Quick Current Ratio'] = quick_current_ratio
bs_analysis

,Financial Year,Working Capital,Working Capital per Dollar of Sales,Current Ratio,Quick Current Ratio
0,2022,-16543,-16543,0.820571,0.206935
1,2021,-6309,-6309,0.927797,0.281063
2,2020,-2578,-2578,0.972173,0.486999
3,2019,-15984,-15984,0.794524,0.223306
4,2018,-15580,-15580,0.798908,0.227526

#### Debt-to-Equity Ratio = Total Liabilities ÷ Shareholders' Equity

In [45]:
total_liabilities = bs_transposed_df['Total Liabilities'].str.replace(',', '').astype(int)
shareholders_equity = bs_transposed_df['Shareholders\' Equity'].str.replace(',', '').astype(int)
debt_to_equity_ratio = total_liabilities / shareholders_equity

bs_analysis['Debt to Equity Ratio'] = debt_to_equity_ratio
bs_analysis

,Financial Year,Working Capital,Working Capital per Dollar of Sales,Current Ratio,Quick Current Ratio,Debt to Equity Ratio
0,2022,-16543,-16543,0.820571,0.206935,2.078977
1,2021,-6309,-6309,0.927797,0.281063,1.837399
2,2020,-2578,-2578,0.972173,0.486999,2.038492
3,2019,-15984,-15984,0.794524,0.223306,2.075065
4,2018,-15580,-15580,0.798908,0.227526,1.926465

#### Receivable Turnover = Net Credit Sales ÷ Average Net Receivables for the Period
Net Credit Sales is from Income Statement

In [46]:
net_credit_sales = is_transposed_df['Net Income'].str.replace(',', '').astype(int)
average_net_receivables_for_the_period = bs_transposed_df['Receivables'].str.replace(',', '').astype(int)
receivable_turnover = net_credit_sales / average_net_receivables_for_the_period

bs_analysis['Receivable Turnover'] = receivable_turnover
bs_analysis

,Financial Year,Working Capital,Working Capital per Dollar of Sales,Current Ratio,Quick Current Ratio,Debt to Equity Ratio,Receivable Turnover
0,2022,-16543,-16543,0.820571,0.206935,2.078977,1.472331
1,2021,-6309,-6309,0.927797,0.281063,1.837399,1.651329
2,2020,-2578,-2578,0.972173,0.486999,2.038492,2.073358
3,2019,-15984,-15984,0.794524,0.223306,2.075065,2.368078
4,2018,-15580,-15580,0.798908,0.227526,1.926465,1.061595

#### Average Age of Receivables = Number of days in period ÷ Receivable Turnover

In [47]:
number_of_days_in_period = 365
average_age_of_receivables = number_of_days_in_period / receivable_turnover

bs_analysis['Average Age of Receivables'] = average_age_of_receivables
bs_analysis

,Financial Year,Working Capital,Working Capital per Dollar of Sales,Current Ratio,Quick Current Ratio,Debt to Equity Ratio,Receivable Turnover,Average Age of Receivables
0,2022,-16543,-16543,0.820571,0.206935,2.078977,1.472331,247.906250
1,2021,-6309,-6309,0.927797,0.281063,1.837399,1.651329,221.034155
2,2020,-2578,-2578,0.972173,0.486999,2.038492,2.073358,176.042931
3,2019,-15984,-15984,0.794524,0.223306,2.075065,2.368078,154.133459
4,2018,-15580,-15580,0.798908,0.227526,1.926465,1.061595,343.822339

#### Inventory Turnover = Cost of Goods Sold ÷ Average Inventory for the Period
Cost of Goods Sold is from Income Statement

In [48]:
cost_of_goods_sold = is_transposed_df['Cost of Revenue'].str.replace(',', '').astype(int)
average_inventory_for_the_period = inventory
inventory_turnover = cost_of_goods_sold / average_inventory_for_the_period

bs_analysis['Inventory Turnover'] = inventory_turnover
bs_analysis

,Financial Year,Working Capital,Working Capital per Dollar of Sales,Current Ratio,Quick Current Ratio,Debt to Equity Ratio,Receivable Turnover,Average Age of Receivables,Inventory Turnover
0,2022,-16543,-16543,0.820571,0.206935,2.078977,1.472331,247.906250,8.196426
1,2021,-6309,-6309,0.927797,0.281063,1.837399,1.651329,221.034155,7.591442
2,2020,-2578,-2578,0.972173,0.486999,2.038492,2.073358,176.042931,9.350931
3,2019,-15984,-15984,0.794524,0.223306,2.075065,2.368078,154.133459,8.880500
4,2018,-15580,-15580,0.798908,0.227526,1.926465,1.061595,343.822339,8.703630

#### Number of Days for Inventory to Turn = Number of days in Period ÷ Inventory Turnover

In [49]:
number_of_days_for_inventory_to_turn = number_of_days_in_period / inventory_turnover

bs_analysis['Number of Days for Inventory to Turn'] = number_of_days_for_inventory_to_turn
bs_analysis

,Financial Year,Working Capital,Working Capital per Dollar of Sales,Current Ratio,Quick Current Ratio,Debt to Equity Ratio,Receivable Turnover,Average Age of Receivables,Inventory Turnover,Number of Days for Inventory to Turn
0,2022,-16543,-16543,0.820571,0.206935,2.078977,1.472331,247.906250,8.196426,44.531604
1,2021,-6309,-6309,0.927797,0.281063,1.837399,1.651329,221.034155,7.591442,48.080455
2,2020,-2578,-2578,0.972173,0.486999,2.038492,2.073358,176.042931,9.350931,39.033546
3,2019,-15984,-15984,0.794524,0.223306,2.075065,2.368078,154.133459,8.880500,41.101291
4,2018,-15580,-15580,0.798908,0.227526,1.926465,1.061595,343.822339,8.703630,41.936525

### Income Statement Analysis

In [22]:
# Reading income statement file

income_statement_df = pd.read_excel(r'Financial Statements (wmt).xlsx', sheet_name='income annually')
income_statement_df = income_statement_df.drop(columns = ['2017' , '2016','2015', '2014',  '2013', '2012 - 1992'])
income_statement_df

                            Year     2022    2021    2020     2019     2018
0                        Revenue   611289  572754  559151   523964   514405
1           Revenue Growth (YoY)    6.73%   2.43%   6.72%    1.86%    2.81%
2                Cost of Revenue   463721  429000  420315   394605   385301
3                   Gross Profit   147568  143754  138836   129359   129104
4       Selling, General & Admin   127140  117812  116288   108791   107147
5             Operating Expenses   127140  117812  116288   108791   107147
6               Operating Income    20428   25942   22548    20568    21957
7      Interest Expense / Income     2128    1994    2315     2599     2346
8         Other Expense / Income      896    5519    -135    -1827     8660
9                  Pretax Income    17404   18429   20368    19796    10951
10                    Income Tax     5724    4756    6858     4915     4281
11                    Net Income    11680   13673   13510    14881     6670
12             Net Income Growth  -14.58%   1.21%  -9.21%  123.10%  -32.37%
13    Shares Outstanding (Basic)     2724    2792    2831     2850     2929
14  Shares Outstanding (Diluted)     2734    2805    2847     2868     2945
15                 Shares Change   -2.53%  -1.48%  -0.73%   -2.61%   -2.16%
16                   EPS (Basic)     4.29    4.90    4.77     5.22     2.28
17                 EPS (Diluted)     4.27    4.87    4.75     5.19     2.26
18                    EPS Growth  -12.32%   2.53%  -8.48%  129.65%  -31.10%
19      Free Cash Flow Per Share     4.46    4.11    9.19     5.22     6.12
20            Dividend Per Share    2.240   2.200   2.160    2.120    2.080
21               Dividend Growth    1.82%   1.85%   1.89%    1.92%    1.96%
22                  Gross Margin   24.14%  25.10%  24.83%   24.69%   25.10%
23              Operating Margin    3.34%   4.53%   4.03%    3.93%    4.27%
24                 Profit Margin    1.91%   2.39%   2.42%    2.84%    1.30%
25         Free Cash Flow Margin    1.99%   2.00%   4.65%    2.84%    3.49%
26            Effective Tax Rate   32.89%  25.81%  33.67%   24.83%   39.09%
27                        EBITDA    30477   31081   33835    33382    23975
28                 EBITDA Margin    4.99%   5.43%   6.05%    6.37%    4.66%
29   Depreciation & Amortization    10945   10658   11152    10987    10678
30                          EBIT    19532   20423   22683    22395    13297
31                   EBIT Margin    3.20%   3.57%   4.06%    4.27%    2.58%

In [23]:
# Transpose the DataFrame

is_transposed_df = income_statement_df.transpose()

# Set the first row as the column names

is_transposed_df.columns = is_transpose.iloc[0]

# Reset the index if needed

is_transposed_df = is_transposed_df.iloc[1:].reset_index()
is_transposed_df = is_transposed_df.rename(columns={'Year': 'index', 'index': 'Financial Year'})
is_transposed_df

Year,Financial Year,Revenue,Revenue Growth (YoY),Cost of Revenue,Gross Profit,"Selling, General & Admin",Operating Expenses,Operating Income,Interest Expense / Income,Other Expense / Income,...,Gross Margin,Operating Margin,Profit Margin,Free Cash Flow Margin,Effective Tax Rate,EBITDA,EBITDA Margin,Depreciation & Amortization,EBIT,EBIT Margin
0,2022,611289,6.73%,463721,147568,127140,127140,20428,2128,896,...,24.14%,3.34%,1.91%,1.99%,32.89%,30477,4.99%,10945,19532,3.20%
1,2021,572754,2.43%,429000,143754,117812,117812,25942,1994,5519,...,25.10%,4.53%,2.39%,2.00%,25.81%,31081,5.43%,10658,20423,3.57%
2,2020,559151,6.72%,420315,138836,116288,116288,22548,2315,-135,...,24.83%,4.03%,2.42%,4.65%,33.67%,33835,6.05%,11152,22683,4.06%
3,2019,523964,1.86%,394605,129359,108791,108791,20568,2599,-1827,...,24.69%,3.93%,2.84%,2.84%,24.83%,33382,6.37%,10987,22395,4.27%
4,2018,514405,2.81%,385301,129104,107147,107147,21957,2346,8660,...,25.10%,4.27%,1.30%,3.49%,39.09%,23975,4.66%,10678,13297,2.58%

In [24]:
is_analysis = pd.DataFrame(is_transposed_df['Financial Year']) # copy columns of dataframe
is_analysis

  Financial Year
0           2022
1           2021
2           2020
3           2019
4           2018

#### Gross Profit Margin = (Revenue - Cost of Goods sold) ÷ Revenue

In [26]:
# '.str.replace(',', '').astype(int)' is used to remove commas from string values in a DataFrame column and convert to integers.

revenue = is_transposed_df['Revenue'].str.replace(',', '').astype(int)
cost_of_goods_sold = is_transposed_df['Cost of Revenue'].str.replace(',', '').astype(int)
gross_profit_margin = (revenue - cost_of_goods_sold) / revenue

is_analysis['Gross Profit Margin'] = gross_profit_margin * 100
is_analysis

  Financial Year  Gross Profit Margin
0           2022            24.140464
1           2021            25.098733
2           2020            24.829787
3           2019            24.688528
4           2018            25.097734

#### Research and development (R&D) to sales = R&D expense ÷ Revenue

In [28]:
ops_expense = is_transposed_df['Operating Expenses'].str.replace(',', '').astype(int)
ops_to_sales = ops_expense / revenue

is_analysis['Operating to Sales'] = ops_to_sales
is_analysis

  Financial Year  Gross Profit Margin  Operating to Sales
0           2022            24.140464            0.207987
1           2021            25.098733            0.205694
2           2020            24.829787            0.207972
3           2019            24.688528            0.207631
4           2018            25.097734            0.208293

#### Operating Profit Margin = Operating Income ÷ Revenue

In [31]:
operating_income = is_transposed_df['Operating Income'].str.replace(',', '').astype(int)
ops_profit_margin = operating_income / revenue

is_analysis['Operating Profit Margin'] = ops_to_sales
is_analysis

,Financial Year,Gross Profit Margin,Operating to Sales,Operating Profit Margin
0,2022,24.140464,0.207987,0.207987
1,2021,25.098733,0.205694,0.205694
2,2020,24.829787,0.207972,0.207972
3,2019,24.688528,0.207631,0.207631
4,2018,25.097734,0.208293,0.208293

#### Net Profit Margin = Net Income (after taxes) ÷ Revenue

In [32]:
net_income = is_transposed_df['Net Income'].str.replace(',', '').astype(int)
net_profit_margin = net_income / revenue

is_analysis['Net Profit Ratio'] = net_profit_margin
is_analysis

,Financial Year,Gross Profit Margin,Operating to Sales,Operating Profit Margin,Net Profit Ratio
0,2022,24.140464,0.207987,0.207987,0.019107
1,2021,25.098733,0.205694,0.205694,0.023872
2,2020,24.829787,0.207972,0.207972,0.024162
3,2019,24.688528,0.207631,0.207631,0.028401
4,2018,25.097734,0.208293,0.208293,0.012966

#### Interest coverage ratio = earnings before interest and taxes (EBIT) ÷ interest expense

In [34]:
interest_expense = is_transposed_df['Interest Expense / Income'].str.replace(',', '').astype(int)
earnings_before_interest_and_taxes = is_transposed_df['EBIT'].str.replace(',', '').astype(int)
interest_coverage_ratio = earnings_before_interest_and_taxes / (interest_expense)

is_analysis['Interest Coverage Ratio'] = interest_coverage_ratio
is_analysis

,Financial Year,Gross Profit Margin,Operating to Sales,Operating Profit Margin,Net Profit Ratio,Interest Coverage Ratio
0,2022,24.140464,0.207987,0.207987,0.019107,9.178571
1,2021,25.098733,0.205694,0.205694,0.023872,10.242227
2,2020,24.829787,0.207972,0.207972,0.024162,9.798272
3,2019,24.688528,0.207631,0.207631,0.028401,8.616776
4,2018,25.097734,0.208293,0.208293,0.012966,5.667945

#### Asset Turnover = Revenue ÷ Average Assets for the period

In [50]:
average_assets_for_the_period = bs_transposed_df['Total Assets'].str.replace(',', '').astype(int)
assets_turnover = revenue / average_assets_for_the_period

is_analysis['Asset Turnover'] = assets_turnover
is_analysis

,Financial Year,Gross Profit Margin,Operating to Sales,Operating Profit Margin,Net Profit Ratio,Interest Coverage Ratio,Asset Turnover
0,2022,24.140464,0.207987,0.207987,0.019107,9.178571,2.513555
1,2021,25.098733,0.205694,0.205694,0.023872,10.242227,2.339108
2,2020,24.829787,0.207972,0.207972,0.024162,9.798272,2.214494
3,2019,24.688528,0.207631,0.207631,0.028401,8.616776,2.215539
4,2018,25.097734,0.208293,0.208293,0.012966,5.667945,2.345722

#### Return on assets = Net Income ÷ Total Average Assets for the Period
#### Return on assets = Net Profit Margin x Assets Turnover

In [51]:
return_on_assets = net_profit_margin / assets_turnover

is_analysis['Return on Assets'] = return_on_assets
is_analysis

,Financial Year,Gross Profit Margin,Operating to Sales,Operating Profit Margin,Net Profit Ratio,Interest Coverage Ratio,Asset Turnover,Return on Assets
0,2022,24.140464,0.207987,0.207987,0.019107,9.178571,2.513555,0.007602
1,2021,25.098733,0.205694,0.205694,0.023872,10.242227,2.339108,0.010206
2,2020,24.829787,0.207972,0.207972,0.024162,9.798272,2.214494,0.010911
3,2019,24.688528,0.207631,0.207631,0.028401,8.616776,2.215539,0.012819
4,2018,25.097734,0.208293,0.208293,0.012966,5.667945,2.345722,0.005528

### Cash Flow Analysis

In [52]:
# Reading income statement file

cash_flow_df = pd.read_excel(r'Financial Statements (wmt).xlsx', sheet_name='cash flow annually')
cash_flow_df = cash_flow_df.drop(columns = ['2017' , '2016', '2015', '2014',  '2013', '2012 - 1992'])
cash_flow_df

                           Year    2022     2021    2020     2019    2018
0                    Net Income   11680    13673   13510    14881    6670
1   Depreciation & Amortization   10945    10658   11152    10987   10678
2    Other Operating Activities    6216     -150   11412     -613   10405
3           Operating Cash Flow   28841    24181   36074    25255   27753
4    Operating Cash Flow Growth  19.27%  -32.97%  42.84%   -9.00%  -2.06%
5          Capital Expenditures  -16687   -12712  -10049   -10384   -9825
6                  Acquisitions    -740     7576    -124      777  -13780
7         Change in Investments       0        0       0        0       0
8    Other Investing Activities    -295     -879     102      479    -431
9           Investing Cash Flow  -17722    -6015  -10071    -9128  -24036
10               Dividends Paid   -6114    -6152   -6116    -6048   -6102
11  Share Issuance / Repurchase   -9920    -9787   -2625    -5717   -7410
12           Debt Issued / Paid    2318    -8189   -5706    -1071   12035
13   Other Financing Activities   -3323     1300   -1670    -1463   -1060
14          Financing Cash Flow  -17039   -22828  -16117   -14299   -2537
15                Net Cash Flow   -5993    -4802   10121     1759     742
16               Free Cash Flow   12154    11469   26025    14871   17928
17        Free Cash Flow Growth   5.97%  -55.93%  75.01%  -17.05%  -3.94%
18        Free Cash Flow Margin   1.99%    2.00%   4.65%    2.84%   3.49%
19     Free Cash Flow Per Share    4.46     4.11    9.19     5.22    6.12

In [53]:
# Transpose the DataFrame

cf_transposed_df = cash_flow_df.transpose()

# Set the first row as the column names

cf_transposed_df.columns = cf_transposed_df.iloc[0]

# Reset the index if needed

cf_transposed_df = cf_transposed_df.iloc[1:].reset_index()
cf_transposed_df = cf_transposed_df.rename(columns={'index': 'Financial Year'})
cf_transposed_df

Year,Financial Year,Net Income,Depreciation & Amortization,Other Operating Activities,Operating Cash Flow,Operating Cash Flow Growth,Capital Expenditures,Acquisitions,Change in Investments,Other Investing Activities,...,Dividends Paid,Share Issuance / Repurchase,Debt Issued / Paid,Other Financing Activities,Financing Cash Flow,Net Cash Flow,Free Cash Flow,Free Cash Flow Growth,Free Cash Flow Margin,Free Cash Flow Per Share
0,2022,11680,10945,6216,28841,19.27%,-16687,-740,0,-295,...,-6114,-9920,2318,-3323,-17039,-5993,12154,5.97%,1.99%,4.46
1,2021,13673,10658,-150,24181,-32.97%,-12712,7576,0,-879,...,-6152,-9787,-8189,1300,-22828,-4802,11469,-55.93%,2.00%,4.11
2,2020,13510,11152,11412,36074,42.84%,-10049,-124,0,102,...,-6116,-2625,-5706,-1670,-16117,10121,26025,75.01%,4.65%,9.19
3,2019,14881,10987,-613,25255,-9.00%,-10384,777,0,479,...,-6048,-5717,-1071,-1463,-14299,1759,14871,-17.05%,2.84%,5.22
4,2018,6670,10678,10405,27753,-2.06%,-9825,-13780,0,-431,...,-6102,-7410,12035,-1060,-2537,742,17928,-3.94%,3.49%,6.12

In [54]:
cf_analysis = pd.DataFrame(cf_transposed_df['Financial Year']) # copy columns of dataframe
cf_analysis

  Financial Year
0           2022
1           2021
2           2020
3           2019
4           2018

#### Current Liability Coverage Ratio = Net Cash from Operating Activities ÷ Average Current Liabilities

In [55]:
net_cash_provided_from_operating_activites = cf_transposed_df['Operating Cash Flow'].str.replace(',', '').astype(int)
average_current_liabilities = bs_transposed_df['Total Current Liabilities'].str.replace(',', '').astype(int)
current_liability_coverage_ratio = net_cash_provided_from_operating_activites / average_current_liabilities

cf_analysis['Current Liability Coverage Ratio'] = current_liability_coverage_ratio
cf_analysis

  Financial Year  Current Liability Coverage Ratio
0           2022                          0.312816
1           2021                          0.276737
2           2020                          0.389379
3           2019                          0.324656
4           2018                          0.358210

#### Price to Cash Flow Ratio = Share Price ÷ Operating Cash Flow per Share

In [56]:
share_price = 147.41
operating_cash_flow = cf_transposed_df['Operating Cash Flow'].str.replace(',', '').astype(int)
common_stock = bs_transposed_df['Common Stock'].str.replace(',', '').astype(int)
operating_cash_flow_per_share = operating_cash_flow / common_stock
price_to_cash_flow_ratio = share_price /  operating_cash_flow_per_share

cf_analysis['Price to Cash Flow Ratio'] = price_to_cash_flow_ratio
cf_analysis

  Financial Year  Current Liability Coverage Ratio  Price to Cash Flow Ratio
0           2022                          0.312816                 26.772081
1           2021                          0.276737                 31.181595
2           2020                          0.389379                 16.051075
3           2019                          0.324656                 20.609967
4           2018                          0.358210                 17.278303

#### Cash Flow Coverage Ratio = Operations Cash Flow  ÷ Total Debt

In [57]:
total_debt = bs_transposed_df['Total Debt'].str.replace(',', '').astype(int)
cash_flow_coverage_ratio = operating_cash_flow / total_debt

cf_analysis['Cash Flow Margin Ratio'] = cash_flow_coverage_ratio
cf_analysis

,Financial Year,Current Liability Coverage Ratio,Price to Cash Flow Ratio,Cash Flow Margin Ratio
0,2022,0.312816,26.772081,0.489469
1,2021,0.276737,31.181595,0.421838
2,2020,0.389379,16.051075,0.570376
3,2019,0.324656,20.609967,0.348667
4,2018,0.358210,17.278303,0.478228

In [58]:
bs_analysis.to_csv("Balance-Sheet Analysis.csv")

In [59]:
is_analysis.to_csv("Income Statement Analysis.csv")

In [60]:
cf_analysis.to_csv("CashFlow Analysis.csv")